<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loguin</title>
</head>
<body>
    <!-- inicio -->
    <!DOCTYPE html>
    <html>
    <head>
        <title>Slide Navbar</title>
    </head>
    <body>
        <div class="main">  	
            <input type="checkbox" id="chk" aria-hidden="true">
                <div class="signup">
                    <form method="POST" action="">
                        <label class="label-VR" for="chk" aria-hidden="true">Sign in</label>
                        {% csrf_token %}
                        {{form}}
                        <button>Sign in</button>
                        {% if messages %}
                            {% for mensaje in messages %}

							<div class="alert alert-warning alert-dismissible fade show" role="alert">
								<strong>{{mensaje}}!</strong> Debe verificar algunos de esos campos a continuación.

							  </div>
                            {% endfor %}
                        {% endif %}
                    </form>
                </div>
        </div>
    </body>
    </html>
</body>
</html>