<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static './css/style.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peliculas o Series</title>
</head>
<body>
    <p  >Peliculas </p>
    <div class="card" style="width: 18rem;">
        <div class="container" id="app"></div>

    </div>
    <button id="refresh">Probar suerte</button>


</body>
<script type="text/javascript" src="{% static '/js/films.js' %}"></script>

</html>
<style>
    .container{
        border: solid 2px black;
        border-radius: 10px;
        text-align: center;
        text-decoration: none;
    }
    
    body{
        background-color: rgba(33, 32, 32, 0.29)(20, 18, 18);
    }

</style>
