<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p style="color:blue" >Peliculas </p>
    <div style="background:blue" id="app"></div>
    <button onclick="getRandomItem()" >Probar suerte</button>
</body>
<script type="text/javascript" src="{% static '/js/films.js' %}"></script>

</html>
